/* colori:
testa: #009688;
icone: #b1b1b1;
notifiche: #8edafc;
sfondo esterno: #d9dbd5;
sfondo interno: #e5ddd5;
sfondo selezione: #e9ebeb;
testa utente: #eaeaea;*/

/* General */
.debug{
    border: 1px solid black;
}
body{
    height: 100vh;
}
.head{
    height: 10vh;
    background-color: #009688;
}
.ext{
    height: 90vh;
    background-color: #d9dbd5;
    position: relative;
}
.wrapper{
    position: absolute;
    height: 600px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -25px;
}
.user, .chat{
    height: 60px;
    background-color: #eaeaea;
}
.user-data, 
.user-data span,
.user-contacts span,
.notify-text span,
.notify-text a{
    padding-left: 10px;
}
.user-options{
    padding-right: 10px;
}
div i{
    padding: 0 5px;
    color: #b1b1b1;
}
.user-options .fa-ellipsis-vertical{
    transform: rotate(90deg);
}
.notify{
    height: 50px;
    background-color: #8edafc;
}
.fa-bell-slash{
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    color: #8edafc;
    background-color: white;
}
.search{
    background-color: #d9dbd5;
    height: 40px;
    padding: 5px;
}
.search .fa-magnifying-glass{
    background-color: white;
    padding: 5px 5px;
}
.search input{
    border: none;
}
.contacts{
    height: 450px;
    background-color: white;
    overflow: auto;
}
li{
    list-style-type: none;
}
.user-contacts{
    height: 70px; 
}
.user-contacts.active {
    background-color: #e9ebeb;
}
.messages{
    height: 490px;
    background-color: #e5ddd5;
    background-image: url(../img/mine.jpg);
    overflow: auto;
}
.sent{
    background-color: #d5f9ba;
    margin: 5px 0;
    border-radius: 8px;
    padding: 5px 10px;
    clear: both;
}
.sent span{
    float: left;
    clear: both;
}
.sent p{
    float: right;
    color: #bdccbb;
    font-size: 10px;
    clear: both;
}
.received{
    background-color: white;
    margin: 5px 0;
    border-radius: 8px;
    padding: 5px 10px;
    clear: both;
}
.received span{
    float: left;
    clear: both;
}
.received p{
    float: right;
    color: #bdccbb;
    font-size: 10px;
    clear: both;
}
.comunicate{
    height: 50px;
    background-color: #f3eeea;
}
.com-write{
    width: 80%;
}
.com-write input{
    width: 100%;
}
.fa-face-smile,
.fa-microphone{
    margin: 0 10px;
}